secrets.yaml
[{"id":"faa8d9b.e447228","type":"file in","z":"5ff51b5.61899e4","name":"secrets","filename":"/srv/hass_storage/home/.homeassistant/secrets.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":420,"wires":[["afaa4271.867b"]]},{"id":"aca5b68f.d6e808","type":"inject","z":"5ff51b5.61899e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":420,"wires":[["faa8d9b.e447228"]]},{"id":"afaa4271.867b","type":"yaml","z":"5ff51b5.61899e4","property":"payload","name":"","x":650,"y":420,"wires":[["5c50d4b5.6ecf7c"]]},{"id":"5c50d4b5.6ecf7c","type":"function","z":"5ff51b5.61899e4","name":"","func":"for (let [key, value] of Object.entries(msg.payload)) {\n  flow.set(key,value);\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":420,"wires":[[]]}]
